.welcome-page-container {
  background-image: url("https://t3.ftcdn.net/jpg/02/14/89/20/360_F_214892077_54puGOBuvsRYsVYbvmGsMODpCmU8daCZ.jpg");
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  max-width: 400px;
}

.game-heading {
  font-family: "Lucida Sans", sans-serif;
  margin-top: 50px;
  text-align: center;
  color: aliceblue;
  margin-bottom: 50px;
}

.game-login-container {
  min-height: 240px;
  background-color: rgba(245, 241, 1, 0.5);
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 2px 3px 2px #312203;
  padding-top: 50px;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-content {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}

.user-input {
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  width: 250px;
  outline: none;
  cursor: pointer;
}

.error-msg {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  width: 280px;
  color: rgb(255, 0, 43);
  margin-bottom: 0;
}

.play-button {
  margin-top: 25px;
  padding: 15px 30px 15px 30px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(0, 255, 170);
}

.game-board-page {
  background-image: url("https://t3.ftcdn.net/jpg/01/92/56/92/360_F_192569231_SEoh2RBLTRvKifEIuPTHR6LlSES4rtVA.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}

.game-board-heading {
  font-family: "Lucida Sans", sans-serif;
  margin-top: 50px;
  text-align: center;
  color: rgb(128, 83, 0);
  text-decoration: underline;
}
